// -------- 
// VARIABLES
// ------ 
$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// ------- 
// HEADER 
// ------- 
* {
  margin: 0;
  box-sizing: border-box;
}

.nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: space-between;

  a {
    @include white-text-black-bg;

    div {
      margin: 10px;
      font-size: large;
    }
  }
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  li {
    margin-right: 16px;
    button {
      cursor: pointer;
      border: none;
      @include white-text-black-bg()
    }
  }
}
.App {
  background-color: aqua;
}